<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Secure_Access.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    @if (ViewData["HideNavbar"] == null)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Door" asp-action="Index"> <img src="~/img/simac-logo.png" /></a>

                    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Door" asp-action="Index">Doors</a>
                            </li>
                            @if (ViewData["ShowLogsButton"] != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="AuditLog" asp-action="Index">Logs</a>
                                </li>
                            }
                            @if (ViewData["ShowReceptionistButton"] != null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Reception" asp-action="ReceptionistDashboard">Dashboard</a>
                                </li>
                            }
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <form asp-controller="Role" asp-action="Clear" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="container">
            &copy; 2025 - Secure Access -
        </div>
    </footer>
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
